{% extends '_layout' %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('blog').order('postDate desc, id asc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block main %}
  {# Prev Entry #}
  {% if prevEntry %}
    <div class="fixed prev-button">
      <a href="{{ prevEntry.slug }}">
        <div>{{ prevEntry.title }}</div>
        <div>{{ prevEntry.postDate | date("M d, Y") }}</div>
      </a>
    </div>
  {% endif %}
  {# Next Entry #}
  {% if nextEntry %}
    <div class="fixed next-button">
      <a href="{{ nextEntry.slug }}">
        <div>{{ nextEntry.title }}</div>
        <div>{{ nextEntry.postDate | date("M d, Y") }}</div>
      </a>
    </div>
  {% endif %}
  {# Matrix Modules #}
  <div class="content">
    <div class="blog-card blog-page">
      <img class="blog-feature-image" src="/posts/{{ entry.slug }}/thumbnail/{{ entry.featuredThumbnail.one().filename }}" />
      <div class="blog-info">
          <div class="blog-pretitle">
            <span>{{ entry.postDate | date("M d, Y") }}</span>
            <span class="blog-location">
              <a href="https://www.google.com/maps/place/{{ entry.city }},{{ entry.country }}/">
                <i class="fas fa-map-marker"></i>
                {{ entry.city }}, {{ entry.country }}
              </a>
            </span>
          </div>
          <h1 class="blog-title">{{ entry.title }}</h1>
          <p class="blog-intro">{{ entry.blogIntroduction }}</p>
      </div>
    </div>
    <hr>
    {% for block in entry.modules %}
      {% include ('_modules/_' ~ block.type.handle) %}
    {% endfor %}
  </div>
{% endblock %}
