{% if block.images|length > 1 %}
  <div class="slider">
    {% for image in block.images %}
      <div><img src="/posts/{{ entry.slug }}/{{ image.filename }}" alt="{{ image.title }}" /></div>
    {% endfor %}
  </div>
  {% else %}
  <div class="image"><img src="/posts/{{ entry.slug }}/{{ block.images.first().filename }}" alt="{{ block.images.first().title }}" /></div>
{% endif %}