{% extends '_layout' %}

{% block main %}
    <div class="cards-grid">
        {% for entry in craft.entries.section('blog').limit(10).all() %}
            <a class="blog-card" href={{ entry.slug }}>
                <img class="blog-card-thumbnail" src="/posts/{{ entry.slug }}/thumbnail/{{ entry.featuredThumbnail.one().filename }}" />
                <div class="blog-card-info">
                    <p class="blog-card-date">{{ entry.postDate | date("M d, Y") }}</p>
                    <h1 class="blog-card-title">{{ entry.title }}</h1>
                    <p class="blog-card-tldr">{{ entry.blogIntroduction }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}