{% extends '_layout' %}

{% block main %}
  <div class="cards-grid">
    {% for entry in craft.entries.section('blog').all() %}
      <a class="blog-card" href={{ entry.slug }}>
        <img class="blog-feature-image" src="/posts/{{ entry.slug }}/thumbnail/{{ entry.featuredThumbnail.one().filename }}" />
        <div class="blog-info">
          <div class="blog-pretitle">
            <span>{{ entry.postDate | date("M d, Y") }}</span>
            <span class="blog-location"><i class="fas fa-map-marker"></i> {{ entry.city }}, {{ entry.country }}</span>
          </div>
          <h1 class="blog-title">{{ entry.title }}</h1>
          <p class="blog-intro">{{ entry.blogIntroduction }}</p>
          <i class="blog-readmore fas fa-arrow-circle-right"></i>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}